In [1]:
import pandas as pd
print("Завдання 2. Pandas")
print()
print("Функція DataFrame")
data_frame1 = pd.DataFrame({'Player':['Yarmolenko', 'Ronaldo', 'Messi', 'Aguero'], 
                     'Goals':[25, 23, 20, 17]})
print(data_frame1)
print()
print("Зчитування з файлу:")
data_frame2 = pd.read_csv('data_frame2.csv')
data_frame2

Завдання 2. Pandas

Функція DataFrame
       Player  Goals
0  Yarmolenko     25
1     Ronaldo     23
2       Messi     20
3      Aguero     17

Зчитування з файлу:

,Series reference,Description,Period,Previously published,Revised
0,PPIQ.SQU900000,PPI output index - All industries,2020.06,1183,1184
1,PPIQ.SQU900001,PPI output index - All industries excl OOD,2020.06,1180,1181
2,PPIQ.SQUC76745,PPI published output commodity - Transport sup...,2020.06,1400,1603
3,PPIQ.SQUCC3100,PPI output index level 3 - Wood product manufa...,2020.06,1169,1170
4,PPIQ.SQUCC3110,PPI output index level 4 - Wood product manufa...,2020.06,1169,1170
5,PPIQ.SQUFF0000,PPI output index level 1 - Wholesale trade,2020.06,1132,1133
6,PPIQ.SQUFF1000,PPI output index level 2 - Wholesale trade,2020.06,1132,1133
7,PPIQ.SQUFF1100,PPI output index level 3 - Wholesale trade,2020.06,1132,1133

In [2]:
print("Mаніпуляції з даними head:")
data_frame2.head()

Mаніпуляції з даними head:

,Series reference,Description,Period,Previously published,Revised
0,PPIQ.SQU900000,PPI output index - All industries,2020.06,1183,1184
1,PPIQ.SQU900001,PPI output index - All industries excl OOD,2020.06,1180,1181
2,PPIQ.SQUC76745,PPI published output commodity - Transport sup...,2020.06,1400,1603
3,PPIQ.SQUCC3100,PPI output index level 3 - Wood product manufa...,2020.06,1169,1170
4,PPIQ.SQUCC3110,PPI output index level 4 - Wood product manufa...,2020.06,1169,1170

In [3]:
print("Mаніпуляції з даними describe:")
data_frame1.describe()

Mаніпуляції з даними describe:

       Goals
count   4.00
mean   21.25
std     3.50
min    17.00
25%    19.25
50%    21.50
75%    23.50
max    25.00

In [4]:
print("Mаніпуляції з даними iloc:")
data_frame1.iloc[2, data_frame1.columns.get_loc('Player')] = 'Popov'
data_frame1

Mаніпуляції з даними iloc:

       Player  Goals
0  Yarmolenko     25
1     Ronaldo     23
2       Popov     20
3      Aguero     17

In [5]:
data_frame1 = data_frame1.loc[data_frame1['Goals'] == 25]
data_frame1

       Player  Goals
0  Yarmolenko     25